@import "tailwindcss";

html {
  background-color: #191939;
  font-family: "Karla", serif;
}

.inria-sans-regular {
  font-family: "Inria Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.inria-sans-bold {
  font-family: "Inria Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.kodchasan-regular {
  font-family: "Kodchasan", serif;
  font-weight: 400;
  font-style: normal;
}

.kodchasan-bold {
  font-family: "Kodchasan", serif;
  font-weight: 700;
  font-style: normal;
}
