@import "tailwindcss";

@theme {
  --animate-float_in: float_in 1s ease-in-out;

  @keyframes float_in {
    0% {
      opacity: 0%;
      transform: translateY(20px);
    }
    100% {
      opacity: 100%;
      transform: translate(0px);
    }
  }

  --animate-highlight: color_change 2.5s ease-in forwards;

  @keyframes color_change {
    0% {
      color: #ffff;
    }
    100% {
      color: darkorchid;
    }
  }
}

body {
  position: relative;
}

p,
h1,
h2 {
  color: #ffff;
}

html {
  background-color: #101026;
  font-family: "Karla", serif;
  overflow-x: hidden;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #415dff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
  z-index: -10;
}

*::-webkit-scrollbar-thumb {
  background-color: #001cbd;
  box-shadow: inset 0 0 10px #7b00c2;
  border-radius: 10px;
}

.inria-sans-regular {
  font-family: "Inria Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.inria-sans-bold {
  font-family: "Inria Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.kodchasan-regular {
  font-family: "Kodchasan", serif;
  font-weight: 400;
  font-style: normal;
}

.kodchasan-bold {
  font-family: "Kodchasan", serif;
  font-weight: 700;
  font-style: normal;
}

.karla-bold {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.karla-light-bold {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.mySwiper {
  justify-items: center;
  align-content: center;
}

.swiper-slide {
  align-self: center;
}

.swiper-slide img {
  align-content: center;
  height: 350px;
  width: 450px;
  object-fit: cover;
  border: solid 3px;
  border-color: #101026;
  border-radius: 5%;
  box-shadow: 0px 0px 20px rgba(97, 0, 119, 0.168);
  filter: blur(1px);
}

.swiper-slide-active img {
  transition: 0.2s ease-in;
  filter: blur(0px);
}

.swiper-nav-btns button:hover {
  box-shadow: 0px 1px 20px rgba(209, 5, 255, 0.64);
  padding: 10px 18px;
  transition: 0.2s ease-in-out;
}
@media (max-width: 762px) {
  .swiper-slide img {
    height: 25vh;
  }
}
